@import "../../theme.scss";

.save-indicator {
  margin-inline-end: 32px;
  text-align: center;

  &__icons {
    margin-top: 2px;
  }

  &__text {
    margin: 0;
    color: map-get($colors, primary-light-400);
    font-size: 12px;

    &--saving {
      color: map-get($colors, primary-light-300);
    }
  }
}
