@import "../../theme.scss";

$i: unquote("!important");

.dropdown {
  background-color: map-get($colors, primary-light-100);
  color: map-get($colors, primary-light-400) $i;
  border-color: map-get($colors, primary-light-100);
  padding: 0 8px;
  height: 32px;
}
