$colors: (
  error-300: #BD3400,
  error-600: #BB000E,
  primary: #192748,
  primary-tint: #323f5c,
  primary-dark: #001034,
  primary-light: #002881,
  primary-extra-light: #b2b7c2,
  primary-light-100: #7f93c0,
  grey-100: #b2b7c2,
  light: #fff
);
