$colors: (
  error-300: #bd3400,
  error-600: #bb000e,
  primary-dark: #001034,
  primary: #002881,
  primary-light-100: #e5e9f2,
  primary-light-200: #b2b7c2,
  primary-light-300: #7f93c0,
  primary-light-400: #32529a,
  grey-100: #b2b7c2,
  secondary: #fff,
);
